<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/404-error.css"/>
  </head>

  <body>
    <main>
      <h1>404 Error, No se encontró su pagina</h1>
      <p>Por favor regresar a la pagina de inicio</p>
      <a class="button" href="/">Inicio</a>     
    </main>
  </body>
</html>